---
import SectionAboutMe from './organisms/SectionAboutMe.astro';
import SectionPresentation from './organisms/SectionPresentation.astro';
import NavBar from './molecules/NavBar';
import SectionStack from './organisms/SectionStack.astro';
import SectionExperience from './organisms/SectionExperience.astro';
---

<main>
	<NavBar client:load />
	<SectionPresentation />
	<SectionAboutMe />
	<SectionStack />
	<SectionExperience />
</main>
