---
interface Props {
	href?: string;
	label: string;
}

const { href, label } = Astro.props;
const Component = href ? 'a' : 'span';
---

<Component
	is={Component}
	href={href}
	target={href ? '_blank' : undefined}
	rel={href ? 'noopener noreferrer' : undefined}
	class='size-12 mt-4 sm:mt-9 flex items-center justify-center group relative'>
	<span
		class='absolute -bottom-6 left-1/2 -translate-x-1/2 w-fit text-nowrap px-2 block h-fit bg-[#9e9e9e]/50 backdrop-blur-2xl rounded-sm opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all ease-in-out duration-300 text-xs capitalize'>
		{label}
	</span>
	<slot />
</Component>
