---
import { ChevronRight } from '@lucide/astro';

interface Props {
	href: string;
	label: string;
}

const { href, label } = Astro.props;
---

<a
	href={href}
	class='group h-12 px-8 inline-flex justify-center items-center gap-2 text-lg uppercase font-anton tracking-widest outline-none transition-colors relative overflow-hidden bg-primary hover:bg-primary-hover text-primary-foreground mt-9 slide-up-and-fade'>
	<span
		class='absolute top-[200%] left-0 right-0 h-full bg-white rounded-[50%] group-hover:top-0 transition-all duration-500 scale-150'
	></span>
	<span class='z-[1] flex items-center'>
		{label}
		<ChevronRight />
	</span>
</a>
